.page-header {
    background-color: #005050;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.page-header h1 {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    font-family: 'Lobster';  
}

.content {
    margin-left: 40px;
    font-family: 'Lobster';
}

.datos {
    margin-bottom: 16px;
}

.nombre {
    color: #108108;
    font-size: 18pt;
}

.numero {
    color: #828282;
}
